<a href="https://colab.research.google.com/github/SilvanaCicchitti/TelecomX-parte2/blob/main/TelecomX_parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Challenge Telecom X - Parte 2

In [2]:
import pandas as pd
ruta= '/content/datos_tratados.csv'
datos= pd.read_csv(ruta)
datos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Charges.Daily
0,0002-ORFBO,0,Female,0,1,1,9.0,1,No,DSL,...,No,Yes,Yes,No,One year,1,Mailed check,65.60,593.30,2.19
1,0003-MKNFE,0,Male,0,0,0,9.0,1,Yes,DSL,...,No,No,No,Yes,Month-to-month,0,Mailed check,59.90,542.40,2.00
2,0004-TLHLJ,1,Male,0,0,0,4.0,1,No,Fiber optic,...,Yes,No,No,No,Month-to-month,1,Electronic check,73.90,280.85,2.46
3,0011-IGKFF,1,Male,1,1,0,13.0,1,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.00,1237.85,3.27
4,0013-EXCHZ,1,Female,1,1,0,3.0,1,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.90,267.40,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,9987-LUTYD,0,Female,0,0,0,13.0,1,No,DSL,...,No,Yes,No,No,One year,0,Mailed check,55.15,742.90,1.84
7028,9992-RRAMN,1,Male,0,1,0,22.0,1,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,1,Electronic check,85.10,1873.70,2.84
7029,9992-UJOEL,0,Male,0,0,0,2.0,1,No,DSL,...,No,No,No,No,Month-to-month,1,Mailed check,50.30,92.75,1.68
7030,9993-LHIEB,0,Male,0,1,1,67.0,1,No,DSL,...,Yes,Yes,No,Yes,Two year,0,Mailed check,67.85,4627.65,2.26
7031,9995-HOTOH,0,Male,0,1,1,63.0,0,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,0,Electronic check,59.00,3707.60,1.97

In [3]:
#eliminar columna cutomerID
datos= datos.drop('customerID', axis=1)

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7032 non-null   int64
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   int64
 4   Dependents        7032 non-null   int64
 5   tenure            7032 non-null   float64
 6   PhoneService      7032 non-null   int64
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   int64
 17  PaymentMethod     7032 non-null   object
 18  Charges.Monthly   7032 non-null   float64
 19  Charges.Total     7032 non-null   float64
 20  Charges.Daily     7032 non-null   float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.1+ MB

In [5]:
datos.columns

Index(['Churn', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'Charges.Monthly', 'Charges.Total', 'Charges.Daily'],
      dtype='object')

In [6]:
#ver datos únicos de cada columna
columnas= datos.columns
for columna in columnas:
  print(columna)
  print(datos[columna].unique())

Churn
[0 1]
gender
['Female' 'Male']
SeniorCitizen
[0 1]
Partner
[1 0]
Dependents
[1 0]
tenure
[ 9.  4. 13.  3. 71. 63.  7. 65. 54. 72.  5. 56. 34.  1. 45. 50. 23. 55.
 26. 69. 37. 49. 66. 67. 20. 43. 59. 12. 27.  2. 25. 29. 14. 35. 64. 39.
 40. 11.  6. 30. 70. 57. 58. 16. 32. 33. 10. 21. 61. 15. 44. 22. 24. 19.
 47. 62. 46. 52.  8. 60. 48. 28. 41. 53. 68. 31. 36. 17. 18. 51. 38. 42.]
PhoneService
[1 0]
MultipleLines
['No' 'Yes' 'No phone service']
InternetService
['DSL' 'Fiber optic' 'No']
OnlineSecurity
['No' 'Yes' 'No internet service']
OnlineBackup
['Yes' 'No' 'No internet service']
DeviceProtection
['No' 'Yes' 'No internet service']
TechSupport
['Yes' 'No' 'No internet service']
StreamingTV
['Yes' 'No' 'No internet service']
StreamingMovies
['No' 'Yes' 'No internet service']
Contract
['One year' 'Month-to-month' 'Two year']
PaperlessBilling
[1 0]
PaymentMethod
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total
[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]
Charges.Daily
[2.19 2.   2.46 3.27 2.8  2.31 3.66 2.82 1.61 3.02 1.51 3.89 2.3  3.38
 1.5  3.19 2.04 2.4  2.09 0.84 3.14 2.79 0.66 0.68 1.02 3.46 0.65 3.04
 3.86 1.31 2.99 3.16 2.52 1.64 2.61 0.85 2.05 2.84 1.72 3.31 1.48 2.71
 3.33 3.05 3.48 3.17 1.68 2.15 3.49 3.65 2.38 3.87 3.32 3.13 3.03 2.81
 1.94 3.58 3.71 1.34 2.86 1.18 2.94 1.53 2.98 2.88 2.49 2.67 3.01 2.36
 1.81 3.83 2.9  2.91 3.6  3.88 2.97 2.48 0.67 1.17 3.52 2.51 3.41 3.85
 0.64 3.82 3.5  1.93 3.35 2.83 1.63 1.57 1.98 2.32 1.2  1.89 2.53 2.64
 2.85 3.11 3.09 1.67 3.08 2.66 2.7  2.08 2.43 2.35 2.5  3.36 3.81 0.81
 2.33 1.96 0.7  0.98 1.82 2.02 2.87 3.18 2.13 2.18 3.37 2.17 3.2  1.35
 3.3  1.65 2.96 1.84 2.68 1.62 0.88 3.34 3.26 2.34 3.42 2.2  3.54 1.32
 3.63 3.4  2.14 1.49 1.16 3.12 3.74 2.01 2.07 0.82 3.69 1.97 3.   3.15
 2.69 2.78 0.69 3.29 2.6  3.23 2.16 3.22 2.39 2.37 3.07 1.4  2.47 2.65
 2.44 0.8  2.62 1.46 0.86 3.39 2.42 1.66 3.06 1.55 1.6  3.73 2.73 0.63
 0.62 2.72 0.99 1.52 2.25 2.55 3.43 2.74 2.45 1.88 0.95 2.77 3.67 3.53
 1.8  2.28 2.06 1.14 1.86 1.79 1.87 2.89 1.12 2.11 3.76 1.99 0.79 1.3
 1.54 1.   2.59 2.22 1.36 2.03 3.78 2.75 3.47 3.51 3.84 3.77 2.54 1.78
 3.1  3.64 3.21 0.97 1.7  0.83 3.45 1.19 3.62 3.61 2.56 1.83 2.58 3.28
 3.72 2.92 3.56 0.77 0.87 3.68 2.21 2.23 1.45 1.47 3.57 1.01 2.26 3.44
 3.9  3.55 1.95 2.12 3.25 3.59 2.29 2.63 0.78 1.85 3.7  1.71 1.69 1.77
 2.1  3.92 1.13 1.1  3.79 2.57 1.9  2.76 1.44 0.89 2.95 0.71 3.93 1.74
 1.03 1.15 3.24 1.92 1.28 3.75 0.9  1.29 1.21 1.04 3.8  1.22 2.24 1.33
 2.93 3.91 1.23 2.41 1.73 1.59 1.39 1.26 3.95 1.05 1.91 1.76 2.27 1.27
 1.06 1.38 1.43 0.61 1.75 1.37 3.96 1.41 1.42 0.72 0.76 3.94 1.58]

In [7]:
categoricas=['gender','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaymentMethod']

In [8]:
#codificar columnas categóricas
datos_codificados= pd.get_dummies(data=datos, columns=categoricas, dtype=int)
datos_codificados.sample(5)

,Churn,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,Charges.Monthly,Charges.Total,Charges.Daily,...,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
1475,0,0,0,0,2.0,1,0,53.45,119.50,1.78,...,1,0,0,1,0,0,0,0,1,0
2705,1,0,0,0,4.0,1,0,45.65,191.05,1.52,...,1,0,0,1,0,0,0,0,0,1
100,0,0,0,0,3.0,1,0,19.95,58.00,0.66,...,0,1,0,1,0,0,0,0,0,1
2122,0,0,0,0,63.0,1,0,58.55,3503.50,1.95,...,0,0,1,0,1,0,0,1,0,0
5234,0,0,0,0,2.0,1,1,70.15,123.80,2.34,...,1,0,0,1,0,0,0,0,1,0

In [9]:
datos.value_counts(subset='Churn', normalize=True)

Churn
0    0.734215
1    0.265785
Name: proportion, dtype: float64

In [10]:
datos_codificados.columns

Index(['Churn', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'PaperlessBilling', 'Charges.Monthly', 'Charges.Total',
       'Charges.Daily', 'gender_Female', 'gender_Male', 'MultipleLines_No',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'OnlineSecurity_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No', 'OnlineBackup_No internet service',
       'OnlineBackup_Yes', 'DeviceProtection_No',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No', 'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No', 'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No', 'StreamingMovies_No internet service',
       'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [11]:
#separar x e y
X = datos_codificados.drop('Churn', axis=1)
y = datos_codificados['Churn']

In [12]:
#dividir en conjunto de entrenamiento y prueba
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7)

In [20]:
y_train.value_counts()

Churn
0    3903
1    1371
Name: count, dtype: int64

In [21]:
#oversampling
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=7)
X_train_over, y_train_over = smote.fit_resample(X_train, y_train)

In [22]:
y_train_over.value_counts()

Churn
0    3903
1    3903
Name: count, dtype: int64

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [24]:
arbol = DecisionTreeClassifier(max_depth = 4)
random_forest = RandomForestClassifier(max_depth = 3)

In [26]:
arbol.fit(X_train_over, y_train_over)
print(f'Exactitud del modelo con el conjunto de entrenamiento es: {arbol.score(X_train_over, y_train_over)}')
print(f'Exactitud del modelo con el conjunto de prueba es: {arbol.score(X_test, y_test)}')

Exactitud del modelo con el conjunto de entrenamiento es: 0.8032282859338971
Exactitud del modelo con el conjunto de prueba es: 0.7201365187713311

In [27]:
random_forest.fit(X_train_over, y_train_over)
print(f'Exactitud del modelo con el conjunto de entrenamiento es: {random_forest.score(X_train_over, y_train_over)}')
print(f'Exactitud del modelo con el conjunto de validación es: {random_forest.score(X_test, y_test)}')

Exactitud del modelo con el conjunto de entrenamiento es: 0.7922111196515501
Exactitud del modelo con el conjunto de validación es: 0.7485779294653014