<a href="https://colab.research.google.com/github/SilvanaCicchitti/TelecomX-parte2/blob/main/TelecomX_version2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Challenge Telecom X - Parte 2

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
ruta= '/content/datos_tratados.csv'
datos= pd.read_csv(ruta)
datos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Charges.Daily
0,0002-ORFBO,0,Female,0,1,1,9.0,1,No,DSL,...,No,Yes,Yes,No,One year,1,Mailed check,65.60,593.30,2.19
1,0003-MKNFE,0,Male,0,0,0,9.0,1,Yes,DSL,...,No,No,No,Yes,Month-to-month,0,Mailed check,59.90,542.40,2.00
2,0004-TLHLJ,1,Male,0,0,0,4.0,1,No,Fiber optic,...,Yes,No,No,No,Month-to-month,1,Electronic check,73.90,280.85,2.46
3,0011-IGKFF,1,Male,1,1,0,13.0,1,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.00,1237.85,3.27
4,0013-EXCHZ,1,Female,1,1,0,3.0,1,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.90,267.40,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,9987-LUTYD,0,Female,0,0,0,13.0,1,No,DSL,...,No,Yes,No,No,One year,0,Mailed check,55.15,742.90,1.84
7028,9992-RRAMN,1,Male,0,1,0,22.0,1,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,1,Electronic check,85.10,1873.70,2.84
7029,9992-UJOEL,0,Male,0,0,0,2.0,1,No,DSL,...,No,No,No,No,Month-to-month,1,Mailed check,50.30,92.75,1.68
7030,9993-LHIEB,0,Male,0,1,1,67.0,1,No,DSL,...,Yes,Yes,No,Yes,Two year,0,Mailed check,67.85,4627.65,2.26
7031,9995-HOTOH,0,Male,0,1,1,63.0,0,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,0,Electronic check,59.00,3707.60,1.97

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7032 non-null   int64
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   int64
 4   Dependents        7032 non-null   int64
 5   tenure            7032 non-null   float64
 6   PhoneService      7032 non-null   int64
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   int64
 17  PaymentMethod     7032 non-null   object
 18  Charges.Monthly   7032 non-null   float64
 19  Charges.Total     7032 non-null   float64
 20  Charges.Daily     7032 non-null   float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.1+ MB

In [6]:
datos.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly', 'Charges.Total',
       'Charges.Daily'],
      dtype='object')

In [8]:
#eliminar columna cutomerID
datos= datos.drop('customerID', axis=1)

KeyError: "['customerID'] not found in axis"

In [9]:
datos.columns

Index(['Churn', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'Charges.Monthly', 'Charges.Total', 'Charges.Daily'],
      dtype='object')

 Agrupación de No y No service para r
 educir multicolinealidad y simplificar los datos sin perder relevancia para el modelo predictivo.

In [10]:
# para crear uno nuevo
df_clean = datos.copy()

# === Etapa 1: Agrupar "No internet service" como "No"
cols_to_fix = ['OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies']

for col in cols_to_fix:
    df_clean[col] = df_clean[col].replace('No internet service', 'No')

In [11]:
#ver valores de las columnas modificadas
for col in cols_to_fix:
    print(df_clean[col].unique())

['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes']

In [13]:
# === Etapa 2: One-hot encoding

categorical_cols = [
       'Churn', 'gender', 'Partner', 'Dependents',
       'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod'
]

df_encoded = pd.get_dummies(df_clean, columns=categorical_cols, drop_first=True)


df_encoded

,SeniorCitizen,tenure,Charges.Monthly,Charges.Total,Charges.Daily,Churn_1,gender_Male,Partner_1,Dependents_1,PhoneService_1,...,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_1,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,9.0,65.60,593.30,2.19,False,False,True,True,True,...,False,True,True,False,True,False,True,False,False,True
1,0,9.0,59.90,542.40,2.00,False,True,False,False,True,...,False,False,False,True,False,False,False,False,False,True
2,0,4.0,73.90,280.85,2.46,True,True,False,False,True,...,True,False,False,False,False,False,True,False,True,False
3,1,13.0,98.00,1237.85,3.27,True,True,True,False,True,...,True,False,True,True,False,False,True,False,True,False
4,1,3.0,83.90,267.40,2.80,True,False,True,False,True,...,False,True,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,13.0,55.15,742.90,1.84,False,False,False,False,True,...,False,True,False,False,True,False,False,False,False,True
7028,0,22.0,85.10,1873.70,2.84,True,True,True,False,True,...,False,False,False,True,False,False,True,False,True,False
7029,0,2.0,50.30,92.75,1.68,False,True,False,False,True,...,False,False,False,False,False,False,True,False,False,True
7030,0,67.0,67.85,4627.65,2.26,False,True,True,True,True,...,True,True,False,True,False,True,False,False,False,True
7031,0,63.0,59.00,3707.60,1.97,False,True,True,True,False,...,True,False,True,True,False,True,False,False,True,False

In [14]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7032 non-null   int64
 1   tenure                                 7032 non-null   float64
 2   Charges.Monthly                        7032 non-null   float64
 3   Charges.Total                          7032 non-null   float64
 4   Charges.Daily                          7032 non-null   float64
 5   Churn_1                                7032 non-null   bool
 6   gender_Male                            7032 non-null   bool
 7   Partner_1                              7032 non-null   bool
 8   Dependents_1                           7032 non-null   bool
 9   PhoneService_1                         7032 non-null   bool
 10  MultipleLines_No phone service         7032 non-null   bool
 11  MultipleLines_Yes                      7032 non-null   bool
 12  InternetService_Fiber optic            7032 non-null   bool
 13  InternetService_No                     7032 non-null   bool
 14  OnlineSecurity_Yes                     7032 non-null   bool
 15  OnlineBackup_Yes                       7032 non-null   bool
 16  DeviceProtection_Yes                   7032 non-null   bool
 17  TechSupport_Yes                        7032 non-null   bool
 18  StreamingTV_Yes                        7032 non-null   bool
 19  StreamingMovies_Yes                    7032 non-null   bool
 20  Contract_One year                      7032 non-null   bool
 21  Contract_Two year                      7032 non-null   bool
 22  PaperlessBilling_1                     7032 non-null   bool
 23  PaymentMethod_Credit card (automatic)  7032 non-null   bool
 24  PaymentMethod_Electronic check         7032 non-null   bool
 25  PaymentMethod_Mailed check             7032 non-null   bool
dtypes: bool(21), float64(4), int64(1)
memory usage: 419.0 KB

In [16]:
#verificar si hay nulos
df_encoded.isnull().sum()

SeniorCitizen                            0
tenure                                   0
Charges.Monthly                          0
Charges.Total                            0
Charges.Daily                            0
Churn_1                                  0
gender_Male                              0
Partner_1                                0
Dependents_1                             0
PhoneService_1                           0
MultipleLines_No phone service           0
MultipleLines_Yes                        0
InternetService_Fiber optic              0
InternetService_No                       0
OnlineSecurity_Yes                       0
OnlineBackup_Yes                         0
DeviceProtection_Yes                     0
TechSupport_Yes                          0
StreamingTV_Yes                          0
StreamingMovies_Yes                      0
Contract_One year                        0
Contract_Two year                        0
PaperlessBilling_1                       0
PaymentMethod_Credit card (automatic)    0
PaymentMethod_Electronic check           0
PaymentMethod_Mailed check               0
dtype: int64

# Normalización/Estandarización